.container{
    background-color: rgba(25, 96, 202, 0.11);
    height: 500px;
    align-items: center;
}

.heading{
    margin-top: 150px;
    text-align: center;
    background-color: blue;
}

.head{
    text-align: center;
    display: flex;

}

.register, .registerAlready{
    border: none;
    border-color: rgb(39, 129, 231);
    border-radius: 7px;
    background: border-box rgb(39, 129, 231);
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px;
    padding-right: 165px;
    margin: 50px;
    font-size: medium;
    font-weight: 400;

}